<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%# form_tagメソッドは指定したURLへデータを送信するメソッド。送信後データ保存 doとendの中に作成 %>
    <%= form_tag("/posts/create") do %>

    <div class="form">
      <div class="form-body">
        <textarea name="content"><%= @post.content %></textarea>
        <input type="submit" value="投稿">
      </div>
      <% end %>
    </div>
  </div>

</div>